body {
  padding: 0;
  margin: 0;
}

header {
  font-size: 1.9rem;
  font-weight: bolder;
  color: black;
}
#navbar {
  margin-left: 12rem;
  margin-top: -10px;
}
#navbar header {
  margin: 10px;
  color: #ffffff;
  font-size: 3rem;
  /* text-align: center; */
}
.horizontal-nav-bar {
  width: 100%;
  height: 70px;
  background-color: red;
  /* margin-bottom: 30px; */
}

.sidenav {
  height: 100%;
  width: 12.5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  color: red;
  box-shadow: 1px 1px 1px 1px rgba(218, 218, 218, 0.993);
}
.nav-items {
  text-align: center;
  margin-top: 4rem;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
  font-weight: 600px;
}
.sidenav a:hover {
  color: rgb(189, 21, 21);
}

#main-doc {
  margin-left: 12.6rem;
}

.main-section {
  margin-bottom: 30px;
}

.first-section {
  display: flex;
  flex-basis: auto;
  justify-content: space-between;
  height: 30rem;
  background: lightblue;
  width: 100%;
  margin-bottom: 3rem;
}

.first-section > div {
  margin-top: 4rem;
  margin-right: 2rem;
}
/* .first-section {
  height: 30rem;
  background: lightblue;
  width: 100%;

} */

.first-section > div:nth-child(1) p,
.first-section > div:nth-child(1) ul li {
  line-height: 1.8rem;
  font-size: 1.2rem;
  font-weight: bolder;
}
.first-section > div:nth-child(2) {
  background: hsl(0, 0%, 100%);
  /* margin-bottom: 30px; */
  height: auto;
  /* text-align: center; */
  /* margin: 20px; */
}
.first-section > div:nth-child(2) h2 {
  text-align: center;
}

.first-section > div:nth-child(2) ul li {
  line-height: 1.6rem;
  color: red;
}

.first-section > div:nth-child(2) ul li a {
  color: red;
}

.first-section > div:nth-child(1) p {
  font-weight: normal;
}
#getting_started_with_rails {
  color: black;
  font-size: 2rem;
}

a {
  text-underline: none;
}

.second-section {
  margin-left: 9rem;
  margin-right: 9rem;
  /* margin-bottom: 20px; */
}

.second-section > p {
  font-size: 1.2rem;
  color: rgb(58, 55, 55);
}

.second-section ul li a {
  color: rgb(189, 21, 21);

}
#guide_assumptions {
  /* font-size: 2rem; */
}
a {
  color: rgb(189, 21, 21);

}
.second-section > article {
  margin-top: 10px;
  font-size: 1.2rem;
  line-height: 2rem;
  color: rgb(58, 55, 55);

}

.second-section ul li {
  line-height: 2rem;
  font-size: 1rem;
}

.mini-container {
  width: 100%;
  height: 100px;
  background: rgb(245, 244, 208);
  align-items: center;
}
.mini-container > article {
  font-size: 1.1rem;
  text-align: center;
  padding-top: 20px;
  color: rgb(58, 55, 55);
}
.mini-container-2 {
  width: 100%;
  height: 100px;
  background: rgb(238, 238, 232);
}
.mini-container-2 > p {
  padding-top: 10px;
  padding-left: 20px;
}
.mini {
  height: 3rem;
}
.mini-container > article span {
  background: #ffffff;
  font-weight: 600;
}

footer {
  width: 100%;
  height: 30px;
  background-color: red;
  color: #ffffff;
  text-align: center;
}
footer p {
  padding-top: 10px;
  font-style: italic;
  font-weight: bolder;
}
/* media queries */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
