body {
  padding: 0;
  margin: 0;
}

header {
  font-size: 1.5rem;
  font-weight: bolder;
}
#navbar {
  margin-left: 12rem;
  margin-top: -10px;
}
#navbar header {
  margin: 10px;
  color: #ffffff;
  font-size: 3rem;
  /* text-align: center; */
}
.horizontal-nav-bar {
  width: 100%;
  height: 70px;
  background-color: red;
  margin-bottom: 30px;
}

.sidenav {
  height: 100%;
  width: 12.5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  padding-top: 20px;
  color: red;
  box-shadow: 1px 1px 1px 1px rgba(218, 218, 218, 0.993);
}
.nav-items {
  text-align: center;
  margin-top: 4rem;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: red;
  display: block;
  font-weight: 600px;
}
.sidenav a:hover {
  color: rgb(189, 21, 21);
}

#main-doc {
  margin-left: 12.8rem;
  margin-right: 40px;
  /* padding: 0px 10px; */
}

.main-section {
  /* margin-top: 30px; */
}

.first-section {
  display: flex;
  /* flex-basis: auto; */
  justify-content: space-between;
  margin-right
}

/* media queries */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
